<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.laziskhu.amilkhu">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<application
		android:name=".AmilKHUApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.AmilKHU"
		android:usesCleartextTraffic="true"
		tools:targetApi="Q">
		<activity android:name=".ui.admintools.acceptattendance.AcceptAttendanceActivity"></activity>
		<activity android:name=".ui.attendance.AttendanceActivity" />
		<activity
			android:name=".ui.attendance.history.HistoryAttendanceActivity"
			android:label="@string/riwayat_kehadiran" />
		<activity android:name=".ui.auth.login.LoginActivity" />
		<activity android:name=".ui.main.MainActivity" />
		<activity android:name=".ui.splashscreen.SplashScreenActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>